extends ../layouts/main.pug

block globals
   - const title=" Contact My Supper awesome blogging platform"

block content 
        h1#header= title

        p.intro-text.second-class(data-attr="my value") it was a rainy day..